/* GENERAL ********************************************************************/
body {
    color: #333;
}

h4 {
    font-weight: bold;
}

h5 {
    font-size: 20px;
}
.container {
    padding: 50px 20%;
    text-align: center;
}

/* NAVBAR *****************************************************************************************/
nav {
  width: 100%;
  height: 50px;
}

.navbar {
    position: fixed;
    border: none;
    background: rgba(0, 0, 0, 0);
}

.btn {
    color: #FFF;
}

.btn_blue {
    background-color: #337AB7;
    margin-right: 10px;
}

.btn_green {
    background-color: #5CB85C;
}

/* HEADER *****************************************************************************************/
header {
  padding-top: 70px;
    background-position: center;
    color: #FFF;
}

header h1 {
    margin-bottom: 40px;
}

header p {
    margin-top: 20px;
}

/* BOOTCAMP ***************************************************************************************/
section.bootcamp p {
    margin-bottom: 30px;
}

section.bootcamp .container {
    padding-bottom: 0;
}

/* INFORMACION ************************************************************************************/
section.informacion {
    background-color: #FAFAFA;
    border-top: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
}

section.informacion .btn {
    margin: 5px 0;
}
/* SUSCRIBETE *************************************************************************************/
address.container {
    text-align: left;
}

address input.email {
    float: left;
    box-sizing: border-box;
    padding: 6px;
    border: solid 1px #CCC;
    border-radius: 4px;
}

address input.btn {
    float: left;

    margin-left: 10px;
    border: solid 1px #CCC;

    background-color: #FFF;
    color: #333;
}


/* CAROUSEL ***************************************************************************************/
section.carousel div.container {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}


/* FOOTER *****************************************************************************************/
footer {
    margin-bottom: 0;
    padding: 20px 0;

    background-color: #222;
}

footer h3 {
    padding-left: 5%;

    color: #FFF;
}

/* MEDIA ******************************************************************************************/
@media (min-width: 0px) and (max-width: 1200px) {
    .container {
        padding: 50px 10%;
    }

}

@media (min-width: 0px) and (max-width: 767px) {
    div.suscribete {
        margin-top: 30px;
    }
}
